* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    width: 100%;
    max-width: 100%;
}

header {
    position: fixed;
    top: 0px;
    background-color: rgba(14, 14, 86, 0.904);
    width: 100%;
    text-align: center;
    color: whitesmoke;
    padding: 10px;
    font-size: 2em;
    font-family: calibri;
}

main {
    width: 800px;
    max-width: 100%;
    margin: 150px auto 0 auto;
    min-height: 400px;
}

div {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 80%;
    height: 50%;
    margin: 40px auto 0 auto;
    background-color: rgba(14, 14, 86, 0.904);
    padding: 80px;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
    font-family: candara;
}

div>input {
    width: 30px;
    margin: 10px auto;
    text-align: center;
    height: 30px;
}

div>button {
    width: 150px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    padding: 10px;
    background-color: orange;
    color: whitesmoke;
    font-family: calibri;
}

div>#output {
    border: 1px solid grey;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 10px auto 0 auto;
    background-color: white;
    text-align: center;
    padding: 10px;
}

button:hover {
    background-color: orangered;
}

button:active {
    transform: translateX(1px);
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: rgba(14, 14, 86, 0.904);
    width: 100%;
    text-align: right;
    color: whitesmoke;
    padding: 10px;
    font-family: calibri;
}